name: CI/CD для проекта AWS CDK Java

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Repository checkout
        uses: actions/checkout@v2

      - name: JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: 17

      - name: Package
        run: mvn clean package

      - name: Test
        run: mvn test

      - name: Развёртывание с AWS CDK
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: us-east-1
        run: |
          npm install -g aws-cdk
          cdk deploy --require-approval never
